<% cache @setlists do %>

<%= render :partial => "shared/concert_header", :locals => {:back_button => true} %>

<ul id="setlist-list" data-role="listview" data-inset="true" data-corners="false">
  <% @setlists.each.with_index(1) do |setlist, index| %>
  <!-- <li data-icon="buybutton1"> -->
  <li data-role="button">
    <a href="<%= setlist.itunes %>" target="_blank">
      <%= image_tag setlist.picture.url(:thumb) %>
      <h2><%= index %>. <%= setlist.song %></h2>
      <p> <%= setlist.artist %> </p>  
    </a>
  </li>
  <% end %>
</ul>

<% end %>