<div id="concertheader">
  <div class="concertcover">
    <%= image_tag @concert.picture.url(:medium) %>
    <h2><%= @concert.title %></h2>
  </div>
  <div class="concertinfo">
    <p>
      <%= @concert.venue %>  |  <%= @concert.date.strftime("%B %d, %Y") %>
      
      <% if back_button %>
      <a href="<%= parent_url %>" data-role="button" data-inline="true" data-theme="reset2" class="ios app-theme-none notext backred"></a>
      <% else %>
      <a href="<%= resource_url %>/setlists" data-role="button" data-inline="true" data-theme="reset2" class="ios app-theme-none notext setlist"></a>
      <% end %>
    </p>
  </div>
</div>