<div id="menu" style="display:none">
  <h2>Encore</h2>
  <ul>
    <li><%= link_to "Profile", "/profile", data: {transition: "none"}, onclick: "jPM.close()" %></li>
    <li><%= link_to "Social Stream", data: {transition: "none"} %></li>
    <li><%= link_to "Concert Listings", data: {transition: "none"} %></li>
    <li><%= link_to "Deals", data: {transition: "none"} %></li>
  </ul>
</div>

<div data-role="header" id="top-bar" style="display:fixed;">
  <a href="#menu" data-icon="bars" class="menu-trigger">Menu</a>
  <div class="bolt"><%= image_tag "shared/bolt.png" %></div>
  <a href="index.html" data-icon="info">Info</a>
  <span class="ui-title" />
</div>