<% cache ["v1", "default-profile-cover"] do %>
  <div id="profilecover">
    <div class="profilepic">
      <%= image_tag "profile/boltsquare.jpg" %>
    </div>

    <div class="profiletext">
      <p class="name">Your Profile</p>
      <%= image_tag "profile/locationmarker.png" %>
      <p class="city">Toronto</p>
    </div>
  </div>
<% end %>

<ul data-role="listview" data-inset="true" data-shadow="false" data-corners="false" id="concert-list">
  <%= render Concert.find_by_id(ENV['CURRENT_CONCERT_ID']) %>

  <%= render 'shared/profile_addshow' %>

<div id="facebooklogin">
  <p>Want to customize your profile and <%= image_tag 'stream/heart-on.png' %> your favourite content?</p>
  <%= link_to image_tag("login/facebook.png"), user_omniauth_authorize_path(:facebook), :id => "facebookDefaultProfile", data: {ajax: false} %>
  <p><small>(We'll never post anything to your timeline)</small></p>
</div>