<div id="profilecover">
  <div class="profilepic">
    <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?width=80&height=80" %>
  </div>

  <div class="profiletext">
    <p class="name"><%= current_user.name %></p>
    <%= image_tag "profile/locationmarker.png" %>
    <p class="city"><%= request.location.city rescue "Toronto" %>Toronto</p>
  </div>
</div>

<ul data-role="listview" data-inset="true" data-shadow="false" data-corners="false" id="concert-list">
  <%= render @concerts %>
</ul>

<% if current_user.signed_up? %>
  <p id="addmoretext">
    Thanks for signing up!
  </p>
<% else %>
  <p id="addmoretext">
    Add more time capsules by <br />
    signing up for our beta
  </p>

  <a href="#popupLogin" id="signupbutton" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-theme="a" data-transition="pop">Sign Up</a>
<% end %>