<% cache ["profile-cover", current_user] do %>
  <div id="profilecover">
    <div class="profilepic">
      <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?width=80&height=80" %>
    </div>

    <div class="profiletext">
      <p class="name"><%= current_user.name %></p>
      <%= image_tag "profile/locationmarker.png" %>
      <p class="city"><%= request.location.city rescue "Toronto" %></p>
    </div>
  </div>
<% end %>

<ul data-role="listview" data-inset="true" data-shadow="false" data-corners="false" id="concert-list">
  <%= render @concerts %>

  <% cache ["profile-signup-2", current_user] do %>
    <% if current_user.signed_up? %>
      <br />
      <p id="addmoretext">
        Thanks for signing up!
      </p>  
    <% else %>
      <li id="signupbutton">
        <a href="#popupLogin" data-rel="popup" data-position-to="window" data-transition="pop">
          <%= image_tag 'profile/boltprofile.png' %>
          <h3>Your next concert...</h3>
          <p class="venue">Download Encore</p>
          <p class="date">Coming July 2013</p>
        </a>
      </li>
      <br />
      <p id="addmoretext"></p>
    <% end %>
  <% end %>
</ul>