<% cache ["profile-cover", current_user] do %>
  <div id="profilecover">
    <div class="profilepic">
      <% if current_user.try(:profile_image_url) # required for legacy users without profile_image_url %>
        <%= image_tag current_user.profile_image_url %>
      <% else %>
        <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?width=80&height=80" %>
      <% end %>
    </div>

    <div class="profiletext">
      <p class="name"><%= current_user.name %></p>
      <%= image_tag "profile/locationmarker.png" %>
      <p class="city"><%= request.location.city rescue "Toronto" %></p>
    </div>
  </div>
<% end %>

<ul class="encore-listings" data-role="listview" data-inset="true" data-shadow="false" data-corners="false" id="concert-list">
  <%= render @concerts %>

  <%= render 'shared/profile_addshow' %>