<% cache concert do %>
<li>
  <%= link_to concert do %>
  <%= image_tag concert.picture.url(:thumb) %>
  <h3><%= concert.title %></h3>
  <p><strong><%= concert.venue %></strong></p>
  <p><%= concert.date.strftime("%B %d, %Y") %></p>
  <% end %>
</li>
<% end %>