<% cache @deal_categories do %>
<ul data-role="listview" data-split-icon="buybutton1" data-split-theme="d" data-inset="true" data-divider-theme="d" data-corners="false">
<% @deal_categories.each do |category, deals| %>
  <li data-role="list-divider"> <%= category %> </li>
  <% deals.each do |deal| %>
  <li>
    <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">
      <%= image_tag deal.picture.url(:thumb) %>
      <h2><%= deal.title %></h2>
      <p><b><%= number_to_currency deal.price %></b> <%= deal.description %></p>
    </a>
    <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop"></a>
  </li>
  <% end %>
<% end %>
</ul>

<div data-role="popup" id="purchase" data-theme="d" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
  <h3>Sorry!</h3>
  <p>Unfortunately we can't process this deal right now. </p>
  <a href="index.html" data-role="button" data-rel="back" data-theme="b" data-icon="delete" data-inline="true" data-mini="true"> Close </a>
</div>
<% end %>