<% cache post do %>
<%# classes have to be added manually here because Sync doesn't add them %>
<li class="ui-li ui-li-static ui-btn-up-c">
  <div class="profilepic">
    <%= image_tag post.user_image_url %>
  </div>

  <div class="heartpic <%= "on" if current_user.posts.include?(post) %>" id="<%= post.id %>"></div>

  <h3><%= post.user_name %></h3>

  <% case post.network %>
  <% when "Instagram" %>
    <p><%= image_tag post.image_url %></p>
  <% when "Twitter" %>
    <p><%= post.text %></p>
  <% when "Vine" %>
    <p></p>
  <% when "Youtube" %>
    <p></p>
  <% else %>
    <p></p>
  <% end %>
</li>
<% end %>