<li>
  <div class="profilepic">
    <%= image_tag post.user_image_url %>
  </div>

  <div class="heartpic <%= "on" if current_user.posts.include?(post) %>" id="<%= post.id %>"></div>

  <h3><%= post.user_name %></h3>

  <p><%= image_tag post.image_url %></p>
</li>