<% cache post do %>
<li>
  <div class="profilepic">
    <%= image_tag post.user_image_url %>
  </div>

  <div class="heartless" id="<%= post.id %>"></div>

  <h3><%= post.user_name %></h3>

  <% case post.network %>
  <% when "Instagram" %>
    <p><%= image_tag post.image_url %></p>
  <% when "Twitter" %>
    <p><%= post.text %></p>
  <% when "Vine" %>
    <p></p>
  <% when "Youtube" %>
    <p><iframe id="ytplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/<%= post.text %>" frameborder="0"></iframe></p>
  <% else %>
    <p></p>
  <% end %>
</li>
<% end %>