<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Encore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

  <!--
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
  -->

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="https://raw.github.com/davidpaulsson/jPanelMenu/1380ce5ad274e05d3330ae821726fa66058c7411/jquery.jpanelmenu.js"></script>

    <%= csrf_meta_tags %>

    <script>
      var jPM;
      $(document).bind('pageinit', function() {
        jPM = jPM || $.jPanelMenu({
          beforeOpen: function() {
            $("#menu-trigger").removeClass("menu-trigger");
          },
          afterClose: function() {
            $("#menu-trigger").addClass("menu-trigger");
          },
          animation: true
        });
        jPM.off();
        jPM.on();
      });
    </script>
  </head>
  <body>
    <div data-role="page">
      <%= render('shared/top_bar') unless current_page?(root_url) %>

      <div data-role="content">
        <%= yield %>
      </div>

      <div data-role="popup" id="popupMenu" data-theme="a">
        <div data-role="popup" id="popupLogin" data-theme="a" class="ui-corner-all">
          <form>
            <div style="padding:10px 20px;">
              <h3 style="text-align:center;">We can email you or text you<br />when the app launches.</h3>
              <input type="text" name="user" id="un" value="" placeholder="email" data-theme="a">
              <input type="password" name="pass" id="pw" value="" placeholder="phone number" data-theme="a">
              <button type="submit" data-theme="b">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
