<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Encore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

  <%#
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
  %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag Sync.adapter_javascript_url %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div data-role="page">
      <%= render('shared/top_bar') %>

      <div data-role="content">
        <%= yield %>
      </div>

      <%= render('shared/signup_popup') %>
      <%= render('shared/info_popup') %>
    </div>
  </body>
</html>
