<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Encore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

  <%#
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes" />
  %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="https://raw.github.com/davidpaulsson/jPanelMenu/1380ce5ad274e05d3330ae821726fa66058c7411/jquery.jpanelmenu.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>

    <script>
      var jPM;
      $(document).bind('pageinit', function() {
        jPM = jPM || $.jPanelMenu({
          beforeOpen: function() {
            $("#menu-trigger").removeClass("menu-trigger");
          },
          afterClose: function() {
            $("#menu-trigger").addClass("menu-trigger");
          },
          animation: true
        });
        jPM.off();
        jPM.on();
      });
    </script>
  </head>
  <body>
    <div data-role="page">
      <% if current_page?(root_url) %>
        <%= yield %>
      <% else %>
        <%= render('shared/top_bar') %>

        <div data-role="content">
          <%= yield %>
        </div>

        <%= render('shared/signup_popup') %>
      <% end %>
    </div>
  </body>
</html>
